.welfare {
  width: 100%;
  padding: 0.5rem 0.2rem;

  &-content {
    @include flex(row, space-around);
    flex-flow: wrap;

    &-img {
      position: relative;
      @include size(6rem, 3.4rem);
      margin-bottom: 0.2rem;
      transition: all 0.6s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        @include size();
        object-fit: cover;
        border-radius: 0.15rem;
      }

      .title {
        @include flex(row, center, center);
        @include absolute(0, 0, 0, 0);
        margin: 0 auto;
        border-radius: 0.15rem;
        background-color: rgba(9, 9, 9, 0.35);
        font-size: 0.25rem;
        color: $font-color-white-g;
        text-align: center;
      }
      @media screen and(max-width:500px) {
        .title {
          padding: 0 5px;
        }
      }
    }
  }
}
