
  .change-pass-modal {
    .ivu-form {
      @include flex(column,center,center);
      .ivu-input-wrapper{
        width: 3rem;
      }
      .handle-btn {
        @include flex(unset, center, center);
        margin-bottom: .24rem;
        .ivu-btn {
          margin: 0 0.1rem;
          border: 1px solid #ec6149;
        }
        .ivu-btn:first-child {
          background-color: #fff;
          color: #ec6149;
        }
        .ivu-btn:last-child {
          background-color: #ec6149;
          color: #fff;
        }
      }
    }
    .ivu-modal-header p {
      padding-left: 0.16rem;
    }
  }
