.introduction {
    font-size: 0.2rem;
    line-height:250%;
    color: #333;

    &-content {
        padding: 0.3rem 2rem;
        text-indent: 2em;

        p {
            margin-bottom: 0.3rem;
            letter-spacing: 1px;
        }
    }
}
@media screen and(max-width:500px){
    .introduction{
        font-size: 13px;
    }
}
